.page {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.name {
    position: absolute;
    margin-top: 15px;
    top: -10%;
    left:12%;
}

.link {
    color: #000000
}
.link:hover {
    text-decoration: unset;
    color: rgb(42, 143, 237)
}